body{
  background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),url("images/glacier_national_park.jpg");
  background-size: cover;
  color: white;
}

.centerText{
  text-align: center;
}

.rightText{
  text-align: right;
}

.whiteText{
  color: white;
}